<section class="our-mission" data-aos="fade-in" data-aos-duration="2500">
    <div class="left">
        <h1>My Mission</h1>
    </div>
    <div class="right">
        <p>
            We are committed to giving top notch care of every animal, no matter the size or age. We go the extra mile every time to
            make sure your pet is always comfortable. 
        </p>
        <p>
            It can be difficult to find someone you trust to care for your pets. To us, your pets are more than just pets. They are
            family and we recognize how much stress comes with leaving them. We strive to make the transition as gentle and fun as
            possible, while still providing excellent service.
        </p>
        <p>
            We are pet CPR and Safety Certified and are licensed and insured for pet care. Our reliability and professionalism is
            something we take pride in, just as much as the services we provide. We go above and beyond for our clients because we
            truly care. 
        </p>
    </div>
</section>
