.our-mission{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin: auto;
    height: 100%;
    padding-top: 250px;
    margin-bottom: 170px;
}

.left{
    width: 100%;
    font-size: 2.7rem;
}

.left img{
    margin-top: 50px;
    width: 80%;
}

.right{
    width: 90%;
}

.right p{
    margin-bottom: 20px;
    font-size: 1.4rem;
}

@media screen and (max-width: 1200px){
    .our-mission{
        flex-direction: column;
        height: 100%;
        width: 85%;
        margin: auto;
        padding-top: 150px;
    }

    .left{
        margin-bottom: 40px;
    }

    .left img{
        width: 100%;
    }

    .right{
        width: 100%;
    }
}

@media screen and (max-width: 801px){
    .our-mission h1{
        font-size: 2.8rem;
        text-align: center;
    }

    .our-mission p{
        font-size: 1.3rem;
    }
}