<section class="pricing-container">

    <h1 class="header">Services and Pricing</h1>

    <div class="pricing">
        <p>
            At Happy Tails Loving Care, I pride myself in caring for your pets just as much as you do. I offer flexible and
            personalized pet care, so you can have peace of mind and your pet can feel safe and happy while you're gone! From
            dog
            walks to overnight visits, I offer a variety of care options to ensure keeping your pets’ normal routine.
            I will provide a customized quote based on your specific care needs prior to providing services. Prices are subject
            to
            change.<br><br>
            ½ of payment is due prior to start of services and serves as a non-refundable deposit. The remaining balance is due
            on
            the final day of services.<br><br>
            Payment Options: Cash, Check, Zelle, PayPal, Venmo, and CashApp
        </p>
        
        <br>

        <img src="./assets/images/gooddog.svg" alt="good doggy">
        
        <p>
            <strong>Meet & Greet</strong><br><br>
            This is the initial meeting where everyone gets acquainted, and we discuss your needs and my services. Here, I will
            meet
            and get to know your pet, learn your pet’s routine and see where items are located. I will also answer any questions
            you
            may have. At the meet, I will require 1 set of house keys and a deposit. The meet and greet usually takes about 30
            minutes, depending on how many pets you have.
        </p>
        
        <br>
        
        <p>
            <strong>Walks</strong><br><br>
            Each visit includes:
            <li>Refreshing food and water</li>
            <li>Play and potty time on a walk</li><br>
            <strong>Rates:</strong><br>
            <li>$20—30 minute walk</li>
            <li>$35—1 hour walk</li>
            <li>$10 additional for a second dog</li>
        
        </p>
        
        <p>
            <strong>Drop-in Home Visits</strong><br><br>
            Each visit includes:
            <li>Refreshing food and water</li>
        
            <li>Play and potty time in the yard</li>
            <li>Pet waste pick up/litter box care</li><br>
            <strong>Rates:</strong><br>
            <li>30 minutes: $15.00 per visit</li>
            <li>1 hour: $25.00 per visit</li>
        </p>
        
        <p>
            <strong>Add-on time to a visit</strong><br><br>
            Need a longer visit for your more energetic pup or more social kitty? You can add time to a scheduled visit for more
            playing and socializing.<br>
            <strong>Rate:</strong> $15 per 30 minutes
        </p>
        
        <p>
            <strong>Overnight Care/Housesitting in your Home</strong><br><br>
            Sleepover with your pet in your home. This service includes AM and PM walks, refreshing pets’ water/food as
            required,
            playing and socializing, scooping litter boxes (cats), etc.<br>
            <strong>Rate:</strong>$70 per night
        </p>
        
        <p>
            <strong>Boarding (Cage Free)</strong><br><br>
            Sleepover with your pet in our home. Up to 4 walks are included. Space is limited to pets of one household only.<br>
            <strong>Rates:</strong>
            <li>$80 per night</li>
            <li>$40 additional for each additional dog</li>
        </p>
        
        <p>
            <strong>Holiday Support</strong><br><br>
            Same rates apply for services plus a $5 premium per visit or $10 per night on New Year's Day, Easter, Mother's Day,
            Memorial Weekend (Friday, Saturday & Sunday), Independence Day, Labor Day Weekend (Friday, Saturday & Sunday),
            Thanksgiving, Christmas Eve, Christmas Day, New Year's Eve.
        </p>

        <img src="./assets/images/walkinthepark.svg" alt="walkinthepark">
        
        <p>
            <strong>All care plans also include:</strong> <br><br>
            <li>Medicine administration</li>
            <li>Mail and newspaper collection</li>
            <li>Watering house plants</li>
            <li>Taking trash to the curb on trash day</li>
            <li>House check for security</li>
            <li>Text updates with photos/videos</li>
        </p>
    </div>
    
</section>

<section class="cover" data-aos="fade-in" data-aos-duration="2000">
    <h1>Want to learn more?</h1>
    <p>Let's chat!</p>
    <button (click)="scrollTo()"routerLink="/contact">Contact Me</button>
</section>



