<section class="our-team">
    <h1>About Me</h1>
    <div class="team-container">
        <div class="team-member" data-aos="fade-up" data-aos-duration="2000">
            <div class="member-image">
                <img src="./../../assets/images/cover-image.jpg" alt="image">
            </div>
            <div class="member-name">
                Nicole Welna
            </div>
        </div>
        <div class="member-description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sit voluptas explicabo sint. Totam at quas, quasi neque iste 
                consectetur provident, voluptas tempora fugit, repellendus nisi 
                alias sit fugiat sed laboriosam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit voluptas explicabo sint. Totam at quas, quasi neque iste
                consectetur provident, voluptas tempora fugit, repellendus nisi
                alias sit fugiat sed laboriosam!
            
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit voluptas explicabo sint. Totam at quas, quasi neque iste
                consectetur provident, voluptas tempora fugit, repellendus nisi
                alias sit fugiat sed laboriosam!<br><br>
            
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit voluptas explicabo sint. Totam at quas, quasi neque iste
                consectetur provident, voluptas tempora fugit, repellendus nisi
                alias sit fugiat sed laboriosam!<br><br>

                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sit voluptas explicabo sint. Totam at quas, quasi neque iste
                consectetur provident, voluptas tempora fugit, repellendus nisi
                alias sit fugiat sed laboriosam!<br><br>
            </p>
        </div>
    </div>
</section>

<section class="family">
    <h1>Meet our family</h1>
    <div class="card-container">
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/blueberry.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Blueberry</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/cassie.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Cassie</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/daisy.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Daisy</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/hoot.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Hoot</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/mila-emma.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Mila (left) Emma (Right)</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-image">
                <img src="./../../assets/images/pets/Szafirek.jpeg" alt="image">
            </div>
            <div class="card-name">
                <h2>Szafirek</h2>
            </div>
            <div class="card-description">
                <p>
                    Calm and wise, Pedro is the perfect companion. Responds well to commands and has
                    a gorgeous, lustrous coat.
                </p>
            </div>
        </div>
    </div>
</section>
