<section class="cover-page">
    <div class="container">
        <h1>Happily taking care of your best friend.</h1>
        <p>
            Every pet is treated with love, respect, and care. Find out how
            we can take care of your loving pet.
        </p>
        <button class="contact" routerLink="/contact"> Contact us</button>
    </div>
</section>

<section class="why-us" data-aos="fade-up" data-aos-duration="2000">
    <h1>Your best friend is our best friend</h1>
    <p>
        Nothing gives me and my team more pleasure than to care for, and love your best friends. Every pet is part of our family, and we aim to provide
        the best service and care for your loved one. 
    </p>
</section>

<section class="reviews">
    <div class="r">
        <h1>Satisfaction Guaranteed</h1>
        <div class="box">
            <div class="left">
                <div class="review" data-aos="fade-right" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "We've been using Nicole for almost a year now and I have nothing but good things to say. My dog loves her
                        and she loves
                        him. She goes above and beyond and I really look forward to the photos she sends me daily. My cat looks
                        forward to
                        seeing her everyday too! She is very reasonably priced, reliable and trustworthy. It's so much better than
                        going through
                        one of the bigger companies around here and having a different person everyday. I highly recommend her."
                    </p>
            
                    <p class="rating-des" style="margin-top: 50px;">
                        "Nicole is a god-send! I feel so safe leaving my dog with her, she’s responsible and always willing to help.
                        I found her
                        on very short notice, she was very accommodating and was able to work with my constant schedule changes. She
                        is always
                        there when I need her and I can tell that she cares a lot about her work. I recommend Nicole at Happy Tails
                        to anyone
                        looking for a dog walker or pet sitter. You definitely won’t be disappointed."
                    </p>
                </div>
            
                <div class="review" style="margin-top: 50px;" data-aos="fade-right" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "Nicole is the most wonderful dog walker I ever had for my Harley! I went to Puerto Rico for my daughter’s
                        16th
                        Birthday,someone referred Nicole to me and I called her last minute. She was very busy with other dogs
                        because of
                        Memorial weekend but she still fitted my dog in her busy schedule! My dog loves her so much! She was sending
                        me pictures
                        of my dog when she was walking him and feeding! She is the most wonderful,reliable,responsible person ever!
                        She really
                        was born to take care of dogs and other pets! I recommend this girl to everyone who love their pets! Nobody
                        will take
                        care of of your pets better than Nicole!"
                    </p>
                    
                    <p class="rating-des" style="margin-top: 50px;">
                        "Highly recommend Nicole at Happy Tails for in-home pet care. She not only works with cats and dogs, but she works with
                        rabbits, birds, lizards, ferrets, etc. She is dedicated and ready to learn how to care for any pet you may have. 5
                        stars!"
                    </p>
                </div>

                <div class="review" style="margin-top: 50px;" data-aos="fade-right" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "Nicole has been helping out with my dog and cat since I got them. I love that I can leave my pets with her and not have
                        to worry for even a second. She treats my pets like they are her own, and her love for animals comes through in every
                        interaction with them. I'm convinced my dog wants to go home with her! She responds immediately, has amazing prices, and
                        genuinely just wants to make sure my pets are happy and safe. She makes having pets and working long hours completely
                        stress-free."
                    </p>
                
                    <p class="rating-des" style="margin-top: 50px;">
                        "I hired Nicole over a year ago and she is hands down the best dog walker and pet sitter I've ever worked with. She is
                        punctual, reliable, responsible, and super loving. When Nicole is with my fur baby, she gives her so much love and
                        attention. I know that I never have to worry which makes my time at work a lot less stressful and my vacations truly
                        fabulous! Nicole is very friendly and you can really tell that she really loves animals and her job. Matter of fact, I
                        have never seen anyone love their job as much as Nicole does, nor have I ever seen anyone having so much fun at work.
                        Your fur babies will thank you for choosing Nicole at Happy Tails Loving Care!"
                    </p>
                </div>

                <div class="review" style="margin-top: 50px;" data-aos="fade-right" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "Nicole is everything you could possibly want in a pet sitter and walker! She took care of our pups while we were away
                        for two full weeks and did an amazing job! Every single day she sent us photos and we felt so at ease leaving our babies
                        with her! When we got back they were actually sad that she was gone and kept looking for her in all the rooms! Would
                        highly recommend Nicole to anyone looking for a pet sitter who is caring, reliable, and a natural with pets!"
                    </p>
                
                    <p class="rating-des" style="margin-top: 50px;">
                        "Nicole has been watching my German Shepard / Pit mix for 1 year now! She can handle a large, energetic dogs without
                        issue! She is 100% reliable and trustworthy which eases your stress while away on vacation! Highly recommend!!"
                    </p>
                </div>
            </div>
            <div class="right" data-aos="fade-in" data-aos-duration="3000">
                <img src="./assets/images/reviews.svg" alt="image2">
                <img src="./assets/images/pets/gallery4/leo.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="meet-and-greet">
    <h1>Request a <span id="s1">FREE</span> Meet and Greet Today!</h1>
    <button id="meet" routerLink="/contact" (click)="scrollTo()">Start Now</button>
</section>