<section class="cover-page">
    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <h1>Sadly taking care of your best friend.</h1>
        <p>
            Every pet is treated with love, respect, and care. Find out how
            we can take care of your loving pet.
        </p>
        <button class="contact" routerLink="/contact"> Contact us</button>
    </div>
</section>

<section class="why-us" data-aos="fade-up" data-aos-duration="2000">
    <h1>Your best friend is our best friend</h1>
    <p>
        Nothing gives me and my team more pleasure than to care for, and love your best friends. Every pet is part of our family, and we aim to provide
        the best service and care for your loved one. 
    </p>
</section>

<section class="reviews">
    <div class="r">
        <h1>Satisfaction Guaranteed</h1>
        <div class="box">
            <div class="left">
                <div class="review" data-aos="fade-left" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "We've been using Nicole for almost a year now and I have nothing but good things to say. My dog loves her
                        and she loves
                        him. She goes above and beyond and I really look forward to the photos she sends me daily. My cat looks
                        forward to
                        seeing her everyday too! She is very reasonably priced, reliable and trustworthy. It's so much better than
                        going through
                        one of the bigger companies around here and having a different person everyday. I highly recommend her."
                    </p>
            
                    <p class="rating-des" style="margin-top: 50px;">
                        "Nicole is a god-send! I feel so safe leaving my dog with her, she’s responsible and always willing to help.
                        I found her
                        on very short notice, she was very accommodating and was able to work with my constant schedule changes. She
                        is always
                        there when I need her and I can tell that she cares a lot about her work. I recommend Nicole at Happy Tails
                        to anyone
                        looking for a dog walker or pet sitter. You definitely won’t be disappointed."
                    </p>
                </div>
            
                <div class="review" style="margin-top: 50px;" data-aos="fade-left" data-aos-duration="2000">
                    <div class="star-rating">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                        <img src="./assets/icons/star.png" alt="star">
                    </div>
                    <p class="rating-des">
                        "Nicole is the most wonderful dog walker I ever had for my Harley! I went to Puerto Rico for my daughter’s
                        16th
                        Birthday,someone referred Nicole to me and I called her last minute. She was very busy with other dogs
                        because of
                        Memorial weekend but she still fitted my dog in her busy schedule! My dog loves her so much! She was sending
                        me pictures
                        of my dog when she was walking him and feeding! She is the most wonderful,reliable,responsible person ever!
                        She really
                        was born to take care of dogs and other pets! I recommend this girl to everyone who love their pets! Nobody
                        will take
                        care of of your pets better than Nicole!"
                    </p>
                    
                    <p class="rating-des" style="margin-top: 50px;">
                        "Highly recommend Nicole at Happy Tails for in-home pet care. She not only works with cats and dogs, but she works with
                        rabbits, birds, lizards, ferrets, etc. She is dedicated and ready to learn how to care for any pet you may have. 5
                        stars!"
                    </p>
                </div>
            </div>
            <div class="right" data-aos="fade-in" data-aos-duration="3000">
                <img src="./assets/images/reviews-image.jpg" alt="image2">
            </div>
        </div>
    </div>
</section>

<section class="meet-and-greet">
    <h1>Request a <span id="s1">FREE</span> Meet and Greet Today!</h1>
    <button id="meet" routerLink="/contact" (click)="scrollTo()">Start Now</button>
</section>