<footer>
    <div class="socials">
        <h1>Happy Tails Loving Care</h1>
        <p>(201) 293-7663 or (201)AWESOME</p>
        <p>happytailslovingcare@gmail.com</p>
        <p>Monday to Sunday 9:00AM - 9:00PM</p>
        <p>
            Jersey City, NJ
        </p>
        <p>
            Bayonne, NJ
        </p>
        <p>
            Staten Island, NJ
        </p>
        <ul>
            <li><a href="https://www.facebook.com/HappyTailsLovingCare"><img src="./../../../assets/icons/facebook.svg" alt="facebook"></a></li>
            <li><a href="https://www.google.com/search?q=happy+tails+pet+sitting+and+walking&oq=&sourceid=chrome&ie=UTF-8"><img src="./../../../assets/icons/google.svg" alt="google"></a></li>
            <li><a href = "https://www.instagram.com/happytailslovingcare/"><img src="./../../../assets/icons/instagram.svg" alt="instagram"></a></li>
        </ul>
    </div>
    <!-- <div class="links">
        <ul>
            <li routerLink="" routerLinkActive="link-active">Our Mission</li>
            <li routerLink="" routerLinkActive="link-active">Team</li>
            <li routerLink="" routerLinkActive="link-active">Services</li>
            <li routerLink="" routerLinkActive="link-active">Blog</li>
            <li routerLink="" id="contactUs">Contact Us</li>
        </ul>
    </div> -->
</footer>
