footer{
    padding: 50px 3vw 50px 3vw;
    display: flex;
    justify-content: space-between;
}

.socials ul{
    display: flex;
    margin-top: 20px;
    list-style-type: none;
    justify-content: space-between;
    width: 80%;
}

.socials p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.certifications{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px){
    footer{
        flex-direction: column;
    }

    .socials ul{
        width: 100%;
    }

    .links ul{
        margin-top: 100px;
    }
}